*.cm[iox]
_Lab
.DS_Store
.*.sw[op]
_build
*.byte
*.native
*.vim
*.log
*.d
*.[0-9]
*.mpx
*.aux
*.nav
*.toc
*.snm
*.gz
*.dvi
*.out
*.o
*.vo
*.cmxs
*.glob
*.dir
yoshi_color
Yoshi_color
mojyh_color
Mojyh_color
gothor
*.txt
*_data
scanner.c
scanner.h
makefile
test/
log
